<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"mixhotel/blog-single-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"mobile-action-bar","area":"uncategorized"} /-->
<!-- wp:template-part {"slug":"desktop-contact-bar","area":"uncategorized"} /-->
<!-- wp:template-part {"slug":"contact-modal","area":"uncategorized"} /-->
<!-- wp:template-part {"slug":"booking-modal","area":"uncategorized"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
